<p id="notice"><%= notice %></p>

<h1>Spec Languages</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @spec_languages.each do |spec_language| %>
      <tr>
        <td><%= spec_language.name %></td>
        <td><%= link_to 'Show', spec_language %></td>
        <td><%= link_to 'Edit', edit_spec_language_path(spec_language) %></td>
        <td><%= link_to 'Destroy', spec_language, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spec Language', new_spec_language_path %>
