<h1>Listing servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Server.all.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.description %></td>
    <td><%= server.address %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path%>
