<h1>Listing servers</h1>

<table class='hoverTable'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Status</th>
    <th>Last Activity</th>
    <th>Is executing command now</th>
    <th>Self-Destruction enabled?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.description %></td>
    <td><%= server.address %></td>
    <td><%= server._status %></td>
    <td><%= server.last_activity_date %></td>
    <td><%= server.executing_command_now %></td>
    <td><%= server.self_destruction %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path%>
