<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function () {
            scrollLogEventToElem($('.log'));
            logUpEvent();
            logDownEvent();
            openLogInHistoryEvent();
            eventToDeleteHistoryLine($('.delete-line'));
            eventToRetest($('.retest'));
            eventToSetAnalysedToHistory($('.analyse-area'));
            eventToOpenMoreOptions($('.open-options'));
            eventToShowFullStartOption($('.open-full-command'));
            <% if @controller == :server %>
                eventToClearHistoryOnServer($('#clear-history'));
            <% elsif @controller == :client %>
                eventToClearHistoryOnClient($('#clear-history'));
            <% end %>
        });
    </script>
<% end %>
<% if @history.empty? %>
    <h1>History list for this server is empty!</h1>
<% else %>
    <% content_for :head do %>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#show-more').click(function () {
                    <% if @controller == :client %>
                        showMoreHistoryForClient()
                    <% elsif @controller == :server %>
                        showMoreHistoryForServer();
                    <% end %>
                });
                eventToOpenRspecResults($('.open-results'))
            });
        </script>
    <% end %>
    <div class="overlay">
      <div class="overlay-window">
        <div class="overlay-content">
          <div class="overlay-text">Loading...</div>
          <img src="/assets/ajax_loader_gray_128.gif">
        </div>
      </div>
    </div>
    <div class="popup-overlay" style="display: none">
      <div class="popup-window"></div>
    </div>
    <h1>Runs on <label id="<%= @controller.to_s %>"><%= @name %></label>:</h1>
    <button id="clear-history" class="btn btn-primary" style="position: absolute; right: 0px; top: 58px; right: 20px;">
      <i class="glyphicon glyphicon-trash"></i>Clear history
    </button>
    <table class="table table-bordered table-hovers">
      <thead>
      <tr>
        <th class="center">Client</th>
        <% if @controller == :client %>
            <th class="center">Server</th>
        <% end %>
        <th class="center">File</th>
        <th class="center">Result</th>
        <th class="center">Run params</th>
        <th class="center">End time</th>
        <!--<th class="center">Analysed</th>-->
        <th class="center">Options</th>
      </tr>
      </thead>
      <tbody>
      <% @history.each do |line| %>
          <tr class="<%= test_result(line.total_result) %>">
            <td class="center">
              <% if line.client.nil? %>
                  Guest
              <% else %>
                  <%= line.client.login %>
              <% end %>
            </td>
            <% if @controller == :client %>
                <td class="center"><%= line.server.name %></td>
            <% end %>
            <td class="center">
              <div style="display: inline-block">
                <div class="history-log pointer">
                  <%= line.file.gsub(RUBYMINE_PROJECTS_PATH, '') %>
                </div>
                <div class="log-window" style="display: block">
                  <div class="log">
                    <% if line.log %>
                        <% line.log.split("\n").each do |l| %>
                            <%= l %>
                            <br>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </td>
            <td class="center">
              <div class="open-results" data-id="<%= line.id %>">
              <%= line.total_result.nil? || line.total_result == '' ? 'No final results' : line.total_result %>
              </div>
            </td>
            <td class="center options">
              <% start_option = line.start_option.nil? ? StartOption.new : line.start_option %>
              <% portal_type = start_option.portal_type.nil? ? '' : start_option.portal_type %>
              <% portal_region = start_option.portal_region.nil? ? '' : start_option.portal_region %>
              <% if start_option %>
                  <div>
                    <div class="open-options"><%= portal_type + ' ' + portal_region %></div>
                    <div class="more-options">
                      <div>Docs branch: <span class="value"><%= start_option.docs_branch %></span></div>
                      <div>Teamlab branch: <span class="value"><%= start_option.teamlab_branch %></span></div>
                      <div>Shared branch: <span class="value"><%= start_option.shared_branch %></span></div>
                      <div>Teamlab API branch: <span class="value"><%= start_option.teamlab_api_branch %></span></div>
                      <div>Portal type: <span class="value"><%= portal_type %></span></div>
                      <% unless portal_region == '' %>
                          <div>Portal region: <span class="value"><%= portal_region %></span></div>
                      <% end %>
                      <div class="open-full-command">Show full start command</div>
                      <div class="full-command"><%= start_option.start_command %></div>
                    </div>
                  </div>
              <% end %>

            </td>
            <td class="center"><%= line.created_at.to_s.gsub(' +0400', '') %></td>
            <!--<td class="center">-->
              <!--<% if line.analysed %>-->
                  <!--<i class="glyphicon glyphicon-ok icon-green"></i>-->
              <!--<% else %>-->
                  <!--<div class="analyse-area pointer" data-id="<%= line.id %>">-->
                    <!--<i class="glyphicon glyphicon-ok icon-green"></i>-->
                  <!--</div>-->
              <!--<% end %>-->
            <!--</td>-->
            <td class="center">
              <i class="retest glyphicon glyphicon-repeat shower" data-path="<%= line.file %>" data-tm-branch="<%= start_option.teamlab_branch %>"  data-doc-branch="<%= start_option.docs_branch %>" data-location="<%= portal_type + portal_region %>">
                <span class="hidden-tool">Add this test in queue with current params</span>
              </i>
              <i class="glyphicon glyphicon-trash delete-line shower" delete-data="<%= history_path(line) %>" data-method="delete">
                <span class="hidden-tool">Delete this test from history</span>
              </i>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div style="text-align: center">
      <button id="show-more" class="btn btn-info">Show more</button>
    </div>

<% end %>
