<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<p>
  <b>Description:</b>
  <%= @server.description %>
</p>

<p>
  <b>Address:</b>
  <%= @server.address %>
</p>

<p>
  <b>Status:</b>
  <%= @server._status %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
