<h1>Listing test_files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Stroke numbers</th>
    <th>File list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_files.each do |test_file| %>
  <tr>
    <td><%= test_file.name %></td>
    <td><%= test_file.stroke_numbers %></td>
    <td><%= test_file.file_list_id %></td>
    <td><%= link_to 'Show', test_file %></td>
    <td><%= link_to 'Edit', edit_test_file_path(test_file) %></td>
    <td><%= link_to 'Destroy', test_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test file', new_test_file_path %>
