<%= form_for(@client, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2 style="color: darkred"><%= pluralize(@client.errors.count, "empty_pages") %>:</h2>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li style="color: darkred"><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :login, 'Login', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :login, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Password', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirmation', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <div style="margin-top: 10px"></div>

    <div class="form-group">
      <div style="font-size: 14px" class="col-sm-2 control-label bold">Project:</div>

      <div class="col-sm-offset-2 col-sm-10">
        <div class="radio-inline">
          <%= f.radio_button :project, 'docs', checked: true %>
          <%= label :project_docs, 'Online Document' %>
        </div>

        <div class="radio-inline">
          <%= f.radio_button :project, 'teamlab' %>
          <%= label :project_teamlab, 'TeamLab' %>
        </div>
      </div>
    </div>

    <% if current_client.admin? %>
        <div class="form-group">
          <%= f.label :verified, 'Verified', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.check_box :verified %>
          </div>
        </div>
    <% end %>

    <div style="margin-top: 10px"></div>

    <div class="form-group">
      <%= f.label :first_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :second_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :second_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post, 'Position', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :post, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :env_file, 'ENV file (one env per line)', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area(:env_file, class: 'form-control', rows: 15, placeholder: 'ENV1=test')%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button 'Save', class: 'btn btn-primary', type: 'submit', name: 'commit' %>
      </div>
    </div>
<% end %>
