<h1>Listing clients</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>First name</th>
    <th>Second name</th>
    <th>Post</th>
    <th>Verified</th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.login %></td>
    <td><%= client.password %></td>
    <td><%= client.first_name %></td>
    <td><%= client.second_name %></td>
    <td><%= client.post %></td>
    <td><%= client.verified %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
