<% provide(:title, 'Sign up') %>
<div class="user-editing-block">
  <h1>Sign Up</h1>

  <%= form_for(@client, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="mb-3 ms-3">
      <%= f.label :login, 'Login*', class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.text_field :login, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <%= f.label :password, 'Password*', class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <%= f.label :password_confirmation, 'Confirmation*', class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <div style="margin-top: 10px"></div>

    <div class="mb-3 ms-3">
      <div style="font-size: 14px" class="offset-sm-4 col-sm-5 control-label bold">Project:</div>

      <div class="col-sm-offset-2 offset-sm-4 col-sm-5">
        <div class="radio-inline">
          <%= f.radio_button :project, 'docs', checked: true %>
          <%= label :project_docs, 'Online Document' %>
        </div>

        <div class="radio-inline">
          <%= f.radio_button :project, 'teamlab' %>
          <%= label :project_teamlab, 'TeamLab' %>
        </div>
      </div>
    </div>

    <div style="margin-top: 10px"></div>

    <div class="mb-3 ms-3">
      <%= f.label :first_name, class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <%= f.label :second_name, class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.text_field :second_name, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <%= f.label :post, 'Position', class: 'offset-sm-4 col-sm-5 control-label' %>
      <div class="offset-sm-4 col-sm-5">
        <%= f.text_field :post, class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3 ms-3">
      <div class="col-sm-offset-2 offset-sm-4 col-sm-5">
        <%= f.button 'Create account', class: 'btn btn-primary', type: 'submit', name: 'commit' %>
      </div>
    </div>

  <% end %>
</div>

<%= link_to 'Back', runner_path, class: 'offset-sm-4 col-sm-5' %>
