<p>
  <b>Login:</b>
  <%= @client.login %>
</p>

<p>
  <b>Password:</b>
  <%= @client.password %>
</p>

<p>
  <b>Project:</b>
  <%= @client.project %>
</p>


<p>
  <b>First name:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Second name:</b>
  <%= @client.second_name %>
</p>

<p>
  <b>Post:</b>
  <%= @client.post %>
</p>

<%= link_to 'Back', runner_path %>
