<% def create_main_describe(main_describe) %>
    <div class="main-describe describe">
        <div class="describe-head">
            <div class="describe-name"><%= main_describe.text %></div>
        </div>
        <div class="describe-child">
            <% unless main_describe.child.empty? %>
                <% main_describe.child.each do |cur_child| %>
                    <% if cur_child.class == Example %>
                        <% create_example(cur_child) %>
                    <% elsif cur_child.class == Describe %>
                        <% create_describe(cur_child) %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<% def create_describe(describe) %>
    <div class="describe">
        <div class="describe-head">
            <div class="describe-name"><%= describe.text %></div>
        </div>
        <div class="describe-child">
            <% unless describe.child.empty? %>
                <% describe.child.each do |cur_child| %>
                    <% if cur_child.class == Example %>
                        <% create_example(cur_child) %>
                    <% elsif cur_child.class == Describe %>
                        <% create_describe(cur_child) %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<% def create_example(example) %>
    <div class="example <%= example.passed %>">
        <div class="example-head">
            <div class="example-name"><%= example.text %></div>
            <% unless example.passed == 'not_implemented' %>
                <div class="example-time"><%= example.duration %></div>
            <% end  %>
        </div>
        <% if example.passed == 'failed' %>
            <div class="fail-details">
                <div class="fail-text"><div><%= example.message.html_safe %></div></div>
                <div class="fail-code-path"><%=  example.backtrace %></div>
                <div class="fail-code"><%=raw example.code %></div>
            </div>
        <% end %>
    </div>
<% end %>

<% def create_rspec_result %>
    <div class="global-results">
        <div class="processing">
            <div></div>
            <span class="value"><%= @rspec_result.processing %>%</span>
        </div>
        <script>
            $('.processing div').css('width', '<%= @rspec_result.processing %>%');
            $(document).ready(function(){
                 if ($('.popup-content').find('.failed').length == 0) {
                    $('.processing div').addClass('success')
                 }else {
                    $('.processing div').addClass('fail')
                 }
            })
        </script>
        <div class="totals"><span><%= @rspec_result.total %></span></div>
        <div class="totals-time"><span><%= @rspec_result.time %></span></div>
    </div>
    <div class="describe-content">
        <% create_main_describe(@rspec_result.describe) %>
    </div>
<% end %>

<div class="result-header">
    <div class="file-name"><span><%= @file_name %></span></div>
    <div class="close-result pointer"></div>
</div>
<div class="popup-content">
    <% if @rspec_result %>
        <% create_rspec_result %>
    <% else %>
        <h1> Don't have html file of this test! </h1>
    <% end %>
</div>



