<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function () {
            myRunner.showServers();
            $("#test-queue").slimScroll({height: '84vh'});
            $("#server-queue").slimScroll({height: '84vh'});
            myRunner.eventToSortTestQueue();
            getUpdatedDataFromServer();
            myRunner.eventToStopAllBooked($('#stop-booked'));
            myRunner.eventToDestroyAllUnBooked($('#destroy-servers'));
            myRunner.eventToShuffleTestQueue($('#shuffle-tests'));
            myRunner.eventToRemoveDuplicatesFromQueue($('#remove-duplicates-tests'));
            myRunner.eventToClearTestQueue($('#clear-tests'));
            myRunner.eventToClearServerList($('#clear-servers'));
            addSortableToElem($('#sidebar-test-list'));
            myRunner.eventForPullProjectsAndFillTests($('.update-tests'));
            addAllLanguagesToSelect();
            eventOnChangeProject();
            eventForAddNewPortal();
        });
        window.onload = function () {
            myRunner.pullProjectsAndGetAllView();
            myRunner.setEventChangeBranch();
            myRunner.eventToAddTestsFromSidebar($('#add-list'));
            <% client = current_client %>
            <% if client %>
            selectProject('<%= client.project %>');
            <% else %>
            selectProject('docs');
            <% end %>
        };
    </script>
<% end %>

<% client = current_client %>
<div class="overlay">
  <div class="overlay-window">
    <div class="overlay-content">
      <div class="overlay-text">Loading...</div>
      <%= image_tag 'ajax_loader_gray_128.gif' %>
    </div>
  </div>
</div>

<div id="info-alert" title="Something happened">
  <p>This is alert</p>
</div>

<div class="popup-overlay" style="display: none">
  <div class="popup-window"></div>
</div>

<div class="side-wrap">
  <div style="position: relative">
    <div id="open-sidebar">
      <i id="open-ico" class="glyphicon glyphicon-chevron-left" style="margin-top: 4px; left: -5px; top: -2px;"></i>
    </div>
    <div id="sidebar" class="sidebar-nav-abs">
      <div>
        <div id='list-name' class="inline">My Test List</div>
        <i id="edit-list-name" class='inline glyphicon glyphicon-pencil'></i>
      </div>
      <div class="list-window">
        <div id="sidebar-test-list">
        </div>
      </div>
      <div class="start-panel">
        <div id='save-new'>
          <i class="glyphicon glyphicon-floppy-save"></i>Save
        </div>
        <div id='add-list'>Add in queue</div>
        <select id='list-region' class="region form-control">
          <% REGION_LIST.each do |region| %>
              <option><%= region %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div id="servers">
  </div>
  <div id="queue-panel">
    <div class="panel-header">
      <div class="server-list server-list-header">
        <i id="destroy-servers" class="glyphicon glyphicon-off" title="Destroy all unbooked servers"></i>
        <div class="list-header">
          <i class="glyphicon glyphicon-list-alt"></i>
          <span id="booked-servers-title">servers</span>
        </div>
        <i id="clear-servers" class="glyphicon glyphicon-remove" title="Unbook All Servers"></i>
        <i id="stop-booked" class="glyphicon glyphicon-stop" title="Stop Test On All Booked Servers"></i>
      </div>
      <div class="queue-list test-queue-list-header">
        <div class="list-header">
          <i class="glyphicon glyphicon-list-alt"></i>
          <span id="test-queue-title">tests</span>
        </div>
        <i id="remove-duplicates-tests" class="glyphicon glyphicon-indent-left" title="Remove duplicates in queue"></i>
        <i id="shuffle-tests" class="glyphicon glyphicon-random" title="Shuffle tests"></i>
        <i id="clear-tests" class="glyphicon glyphicon-trash"></i>
      </div>
    </div>
    <div class="queues">
      <div style="float: left" class="center-panel-list server-list">
        <div id="server-queue">
          <div class="server-node"><i class="glyphicon glyphicon-hdd"></i>server1</div>
          <div class="server-node"><i class="glyphicon glyphicon-hdd"></i>server2</div>
        </div>
      </div>
      <div class="center-panel-list queue-list">
        <div id="test-queue"></div>
      </div>
    </div>
    <div class="options-panel"></div>
  </div>
  <div id="file-tree">
    <div class="tests-block">
      <div class="tabbable">
        <div id="project-tab-header">
          <ul class="nav nav-tabs">
            <% if client && client.project == "docs" %>
                <li class="active">
            <% end %>
            <% if client && client.project == "teamlab" %>
                <li>
            <% end %>
            <% unless client %>
                <li class="active">
            <% end %>
            <a href="#docs" data-toggle="tab">Online Document</a>
            <select id="docs-branches" class="branch form-control"></select>
            </li>
            <% if client && client.project == "teamlab" %>
                <li class="active">
            <% end %>
            <% if client && client.project == "docs" %>
                <li>
            <% end %>
            <% unless client %>
                <li>
            <% end %>
            <a href="#teamlab" data-toggle="tab">Teamlab</a>
            <select id="teamlab-branches" class="branch form-control"></select>
            </li>
          </ul>
          <div id="file-list-tools">
            <select id='portal-list' class="region form-control">
              <% REGION_LIST.each do |region| %>
                  <option <%= 'selected' if region == DEFAULT_REGION %>><%= region %></option>
              <% end %>
            </select>
            <%= collection_select(:language, 0, SpecLanguage.all, :name, :name, {}, class: 'form-control spec-language') %>
            <i class="update-tests glyphicon glyphicon-repeat"></i>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane" id="docs"></div>
          <div class="tab-pane" id="teamlab"></div>
          <div class="section-overlay file-tree-overlay">
            <div class="overlay-window">
              <div class="overlay-content">
                <div class="overlay-text">Pulling...</div>
                <%= image_tag 'ajax_loader_gray_128.gif' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
