<% content_for :head do %>
  <script type="text/javascript">
      let myRunner = new Runner();
      $(document).ready(function () {
          myRunner.showServers();
          myRunner.eventToSortTestQueue();
          getUpdatedDataFromServer();
          myRunner.eventToStopAllBooked($('#stop-booked'));
          myRunner.eventToDestroyAllUnBooked($('#destroy-servers'));
          myRunner.eventToShuffleTestQueue($('#shuffle-tests'));
          myRunner.eventToRemoveDuplicatesFromQueue($('#remove-duplicates-tests'));
          myRunner.eventToClearTestQueue($('#clear-tests'));
          myRunner.eventToClearServerList($('#clear-servers'));
          addSortableToElem($('#sidebar-test-list'));
          myRunner.eventForPullProjectsAndFillTests($('.update-tests'));
          eventOnChangeProject();
          eventOnChangeBranch();
          eventForAddNewPortal();
      });
      window.onload = function () {
          myRunner.pullProjectsAndGetAllView();
          myRunner.eventToAddTestsFromSidebar($('#add-list'));
      };
  </script>
<% end %>

<%= render 'shared/loading_overlay' %>

<div id="info-alert" title="Something happened">
  <p>This is alert</p>
</div>

<div class="popup-overlay" style="display: none">
  <div class="popup-window"></div>
</div>

<%= render 'shared/sidebar_test_list' %>

<div id="main">
  <div id="servers">
  </div>
  <div id="queue-panel">
    <div class="panel-header">
      <div class="server-list server-list-header">
        <i id="destroy-servers" class="fa fa-power-off" title="Destroy all unbooked servers"></i>
        <div class="list-header">
          <i class="fa fa-list-alt"></i>
          <span id="booked-servers-title">servers</span>
        </div>
        <i id="clear-servers" class="fa fa-times" title="Unbook All Servers"></i>
        <i id="stop-booked" class="fa fa-stop" title="Stop Test On All Booked Servers"></i>
      </div>
      <div class="queue-list test-queue-list-header">
        <div class="list-header">
          <i class="fa fa-list-alt"></i>
          <span id="test-queue-title">tests</span>
        </div>
        <i id="remove-duplicates-tests" class="fa fa-indent" title="Remove duplicates in queue"></i>
        <i id="shuffle-tests" class="fa fa-random" title="Shuffle tests"></i>
        <i id="clear-tests" class="fa fa-trash"></i>
      </div>
    </div>
    <div class="queues">
      <div style="float: left" class="center-panel-list server-list">
        <div id="server-queue">
          <div class="server-node"><i class="fa fa-hdd"></i>server1</div>
          <div class="server-node"><i class="fa fa-hdd"></i>server2</div>
        </div>
      </div>
      <div class="center-panel-list queue-list">
        <div id="test-queue"></div>
      </div>
    </div>
    <div class="options-panel"></div>
  </div>
  <div id="file-tree">
    <div class="tests-block">
      <div class="tabbable">
        <div id="project-tab-header">
          <div id="file-list-tools">
            <%= collection_select(:projects,
                                  0,
                                  Project.all.sort_by(&:name),
                                  :name,
                                  :name,
                                  {},
                                  class: 'project-list form-select-sm form-select',
                                  'data-tooltip': true,
                                  title: 'Project') %>
            <select id="docs-branches" class="branch form-select"></select>
            <select id='portal-list' class="region form-select form-select-sm">
              <% REGION_LIST.each do |region| %>
                <option <%= 'selected' if region == DEFAULT_REGION %>><%= region %></option>
              <% end %>
            </select>
            <%= collection_select(:browser,
                                  0,
                                  SpecBrowser.all,
                                  :name,
                                  :name,
                                  {},
                                  class: 'region form-select form-select-sm spec-language',
                                  'data-tooltip': true,
                                  title: 'Browser') %>
            <i class="update-tests fa fa-repeat"></i>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="docs"></div>
          <div class="section-overlay file-tree-overlay">
            <div class="overlay-window">
              <div class="overlay-content">
                <div class="overlay-text">Pulling...</div>
                <%= image_tag 'ajax_loader_gray_128.gif' %>
              </div>
            </div>
          </div>
        </div>
        <%= collection_select(:language,
                              0,
                              SpecLanguage.all.sort_by(&:name),
                              :name,
                              :name,
                              {},
                              class: 'form-select form-select-sm spec-language',
                              multiple: true,
                              size: SpecLanguage.all.length) %>
      </div>
    </div>
  </div>
</div>
</div>
