<% def show_server_row(server) %>
    <div class="server">
      <input id="<%= server.name %>" type="checkbox" class="server-input" name="<%= server.name %>" hidden="">
      <label for="<%= server.name %>" class="normal" style="margin-left: 14px; display: inline-block"><%= server.name %></label>
      <i class="loader"></i>
      <i class="server-opener glyphicon glyphicon-chevron-down"></i>

      <div class="server-info" style="display: none">
        <div class="info-content">
          <%= link_to server_history_path(server), :target => '_blank' do %>
              <i class="show-history glyphicon glyphicon-book"><span>Show history</span></i>
          <% end %>
          <label class="head-text"><%= server.description %></label>
          <label class="head-text">IP: <%= server.address %></label>
          <% unless server.name == AMAZON_SERVER_NAME %>
              <div class="update-info">
                Server management:
                <div class="management">
                  <i class="on-server glyphicon glyphicon-off icon-green pointer"><span>On server</span></i>
                  <i class="off-server glyphicon glyphicon-off pointer"><span>Off server</span></i>
                  <i class="reboot-server glyphicon glyphicon-repeat pointer"><span>Reboot server</span></i>
                  <i class="stop-thread glyphicon glyphicon-stop pointer" style="margin-right: 0;"><span>Stop thread</span></i>
                </div>
                <div>Who run: <span class="run-client"><i class="glyphicon glyphicon-server"></i><%= DEFAULT_RUN_CLIENT %></span></div>
                <div>Count in queue: <span class="queue-count pointer">0</span></div>
                <!-- UPDATE-->
                <div class="queue" style="display: none"></div>
                <div class="run-at" style="display: none">Location: <span class="run-at-value"></span></div>
                <div>Now running:
                  <span class="running"><%= DEFAULT_CURRENT_TEST %></span><i class="glyphicon glyphicon-stop stop-current" style="display: none"><span>Stop current</span></i>
                </div>
                <!-- BY -->
                <div class="progress-bar ui-progress-bar ui-container">
                  <div class="ui-progress" style="width: 100%;"></div><!-- .ui-progress -->
                  <span class="value ui-label">0%</span><!-- progress value -->
                </div><!-- #progress_bar -->
                <div class="show-log pointer">
                  <span>Show log</span>
                </div>
                <div class="log-window" style="display: none">
                  <div class="nav-log">
                    <i class="glyphicon glyphicon-chevron-up icon-white log-up"></i>
                    <i class="glyphicon glyphicon-chevron-down icon-white log-down"></i>
                  </div>
                  <div class="log"></div>
                </div>
                <!-- JQUERY-->
              </div>
          <% end %>
          <!--<div class="server"><i class="icon-server"></i>facetostool</div>-->
          <!--<div class="server"><i class="icon-server"></i>zagudi</div>-->
        </div>
      </div>
    </div>
<% end %>

<% @servers.each do |server| %>
    <% if server.name == AMAZON_SERVER_NAME or IGNORED_MACHINES.include?(server.name) %>
        <% if current_client %>
            <% if current_client.amazon_client? %>
                <% show_server_row(server) %>
            <% end %>
        <% end %>
    <% else %>
        <% show_server_row(server) %>
    <% end %>

<% end %>



