<% def show_server_row(server) %>
    <div id="<%= server.name %>" class="server">
      <div class="server-header">
        <% if server_booked?(server.name) %>
            <% if client_booked?(server.name) %>
                <div class="unbook-button button active" data-server="<%= server.name %>">unbook</div>
            <% else %>
                <div class="book-button button active" data-server="<%= server.name %>" style="visibility: hidden">book</div>
            <% end %>
        <% else %>
            <div class="book-button button active" data-server="<%= server.name %>">book</div>
        <% end %>
        <label><%= server.name %></label>
        <i class="user-icon glyphicon glyphicon-user">​<span class="hidden-tool">Facetostool</span></i>
        <div class="ui-progress-bar ui-container" data-server="<%= server.name %>" >
          <div class="ui-progress" style="width: 26.8%; display: block;"></div>
          <!-- .ui-progress -->
          <span class="value ui-label">26.8%</span><!-- progress value -->
          <span class="test hidden-tool">
            <div class="name">ASDNJKASNFjknsajkdnasjknfjkasndjk</div>
            <div class="location">eu com</div>
          </span>
        </div>
      </div>
      <% unless server.name == AMAZON_SERVER_NAME %>
          <div class="server-content">
            <div class="mini-panel">
              <ul>
                <li><i class="glyphicon glyphicon-stop shower" data-server="<%= server.name %>"><span class="hidden-tool"> stop</span></i></li>
                <li><i class="glyphicon glyphicon-repeat shower" data-server="<%= server.name %>"><span class="hidden-tool"> reboot</span></i></li>
                <li>
                  <%= link_to server_history_path(server), :target => '_blank' do %>
                  <i class="glyphicon glyphicon-book shower"><span class="hidden-tool"> history</span></i>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="server-ip">IP: <%= server.address %></div>
            <div class="log-opener"><span>logs</span></div>
            <div class="log-window" style="display: none">
              <div class="log"></div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<% @servers.each do |server| %>
    <% if server.name == AMAZON_SERVER_NAME or IGNORED_MACHINES.include?(server.name) %>
        <% if current_client %>
            <% if current_client.amazon_client? %>
                <% show_server_row(server) %>
            <% end %>
        <% end %>
    <% else %>
        <% show_server_row(server) %>
    <% end %>

<% end %>



