<% def show_file_tree(tree, project) %>
    <% if tree.class == Hash && tree.has_key?(:children) %>
        <div class="folder">
          <div class="add-button-folder active" data-test="<%= tree[:name] %>" style="">add</div>
          <div class="folder-name"><i class="glyphicon glyphicon-folder-close"></i><%= tree[:name] %></div>
          <div class="folder-inside" style="display: none">
            <% tree[:children].each do |current_child| %>
                <% if current_child.class == Hash && current_child.has_key?(:children) %>
                    <% show_file_tree(current_child, project) %>
                <% else %>
                    <% unless current_child.has_key?(:children) %>
                        <% child_name = current_child[:name] %>
                        <div class="file">
                          <div class="add-button-file active" data-test="<%= current_child[:name] %>" style="">add</div>
                          <div class="file-name"><i class="glyphicon glyphicon-file"></i><%= child_name %>
                            <i class="add-file glyphicon glyphicon-plus-sign"></i></div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% elsif tree.class == Array %>
        <% tree.each do |child| %>
            <% show_file_tree(child, project) %>
        <% end %>
    <% end %>
<% end %>

<% if @client %>
    <% if @client.project == 'docs' %>
        <div class="tab-pane active" id="docs">
          <% show_file_tree(directory_hash(Rails.application.config.github_projects[1])[:children], :docs) %>
        </div>
        <div class="tab-pane" id="teamlab">
          <% show_file_tree(directory_hash(Rails.application.config.github_projects[0])[:children], :tm) %>
        </div>
    <% end %>
    <% if @client.project == 'teamlab' %>
        <div class="tab-pane" id="docs">
          <% show_file_tree(directory_hash(Rails.application.config.github_projects[1])[:children], :docs) %>
        </div>
        <div class="tab-pane active" id="teamlab">
          <% show_file_tree(directory_hash(Rails.application.config.github_projects[0])[:children], :tm) %>
        </div>
    <% end %>

<% else %>
    <div class="tab-pane <%= check_active('docs') %>" id="docs">
      <% show_file_tree(directory_hash(Rails.application.config.github_projects[1])[:children], :docs) %>
    </div>
    <div class="tab-pane <%= check_active('teamlab') %>" id="teamlab">
      <% show_file_tree(directory_hash(Rails.application.config.github_projects[0])[:children], :tm) %>
    </div>
<% end %>
