<% def show_server_row(server) %>
    <div id="<%= server.name %>" class="server">
      <div class="section-overlay">
        <div class="overlay-window">
          <div class="overlay-content">
            <div class="overlay-text">Pulling...</div>
            <img src="assets/ajax_loader_gray_128.gif">
          </div>
        </div>
      </div>
      <div class="server-header">
        <% if server_booked?(server.name) %>
            <% if client_booked?(server.name) %>
                <div class="unbook-button button active" data-server="<%= server.name %>">unbook</div>
            <% else %>
                <div class="book-button button active" data-server="<%= server.name %>" style="visibility: hidden">book</div>
            <% end %>
        <% else %>
            <div class="book-button button active" data-server="<%= server.name %>">book</div>
        <% end %>
        <label title=<%= server.name %>><%= server.name %></label>
        <i class="user-icon glyphicon glyphicon-user">​<span class="hidden-tool">Facetostool</span></i>
        <div class="ui-progress-bar ui-container" data-server="<%= server.name %>" >
          <div class="ui-progress" style="width: 26.8%; display: block;"></div>
          <!-- .ui-progress -->
          <span class="value ui-label">26.8%</span><!-- progress value -->
          <span class="test hidden-tool">
            <div class="name">ASDNJKASNFjknsajkdnasjknfjkasndjk</div>
            <div class="location">eu com</div>
            <div class="test-progress">43%</div>
            <div class="time">5:43</div>
            <div class="docs_branch">docs_branch: Unknown</div>
            <div class="tm_branch">tm_branch: Unknown</div>
          </span>
        </div>
      </div>
        <div class="server-content">
          <div class="mini-panel">
             <ul>
              <li><i class="glyphicon glyphicon-stop shower" data-server="<%= server.name %>"><span class="hidden-tool"> stop</span></i></li>
              <li><select class='form-control' data-server="<%= server.name %>"><option>1gb</option><option>2 gb</option></select></li>
              <li><i class="glyphicon glyphicon-off destroy shower" data-server="<%= server.name %>"><span class="hidden-tool"> destroy</span></i></li>
              <li>
                <%= link_to server_history_path(server), :target => '_blank' do %>
                <i class="glyphicon glyphicon-book shower"><span class="hidden-tool"> history</span></i>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="server-ip">IP: <span><%= server.address %></span></div>
          <div class="log-opener"><span>logs</span></div>
          <div class="log-window" style="display: none">
            <div class="log"></div>
          </div>
        </div>
    </div>
<% end %>

<% @servers.each do |server| %>
    <% if current_client %>
        <% show_server_row(server) %>
    <% end %>
<% end %>



