<% @history.each do |line| %>
    <tr class="<%= test_result(line.total_result) %>">
      <td class="center">
        <% if line.client.nil? %>
            Guest
        <% else %>
            <%= line.client.login %>
        <% end %>
      </td>
      <% if @controller == :client %>
          <td class="center"><%= line.server.name unless line.server.nil? %></td>
      <% end %>
      <td class="center history-entry-file-column">
        <div>
          <div class="history-log">
            <%= line.file.gsub(RUBYMINE_PROJECTS_PATH, '') %>
          </div>
        </div>
        <%= link_to 'Download', histories_log_file_url(id: line.id), class: 'btn btn-xs btn-info' %>
      </td>
      <td class="center">
        <% if line.total_result.nil? || line.total_result == '' %>
          RSpec results not found
        <% else %>
          <div class="open-results" data-id="<%= line.id %>">
            <%= line.total_result %>
          </div>
        <% end %>
      </td>
      <td class="center options">
        <% start_option = line.start_option.nil? ? StartOption.new : line.start_option %>
        <% portal_type = start_option.portal_type.nil? ? '' : start_option.portal_type %>
        <% portal_region = start_option.portal_region.nil? ? '' : start_option.portal_region %>
        <div class="more-options">
          <div>Docs branch: <span class="value"><%= start_option.docs_branch %></span></div>
          <div>Teamlab branch: <span class="value"><%= start_option.teamlab_branch %></span></div>
          <div>Portal type: <span class="value"><%= portal_type %></span></div>
          <div>Spec browser: <span class="value"><%= start_option.spec_browser %></span></div>
          <div>Spec language: <span class="value"><%= start_option.spec_language %></span></div>
          <% unless portal_region == '' %>
              <div>Portal region: <span class="value"><%= portal_region %></span></div>
          <% end %>
          <div class="open-full-command">Show full start command</div>
          <div class="full-command"><%= start_option.safe_start_command %></div>
        </div>
      </td>
      <td class="right">
        <div>Started at: <%= line.start_time %></div>
        <div>Ended at: <%= line.created_at %></div>
        <div>Elapsed: <%= line.elapsed_time %></div>
      </td>
      <td class="center history-entry-options-column">
        <i class="retest fa fa-repeat shower" data-start-option-id="<%= start_option.id %>" data-path="<%= line.file %>">
          <span class="hidden-tool">Add this test in queue with current params</span>
        </i>
        <i class="fa fa-trash delete-line shower" delete-data="<%= history_path(line) %>" data-method="delete">
          <span class="hidden-tool">Delete this test from history</span>
        </i>
      </td>
    </tr>
<% end %>
