<!DOCTYPE html>
<html>
<head>
  <title>RunnerDemo</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all">
  <%= render 'layouts/header' %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</div>
    <%= javascript_include_tag "application" %>
</body>
</html>
